:root {
    --background: #121212;
    --text: #f0f0f0;
    --utext: #5a5757;
    --primary: #FFB3C3;
    --secondary: #EC2C56;
}

* {
    margin: 0;
    padding: 0;
    overflow: hidden;

    font-family: 'PT Sans', sans-serif;
}

body {
    background-color: var(--background);
}

.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
}

/*          HEADER      */

header {
    width: 100vw;
    height: 20vh;

    margin: 1vh auto;

    background-color: var(--background);
    color: var(--text);

}

header nav {
    width: 40vw;
    height: 100%;
}

header nav a {
    color: white;

    text-decoration: none;
    font-size: 1.5vw;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    
    transition: 300ms;

    position: relative;
}

header nav a:hover {
    color: var(--primary);
}

header .logo {
    width: 20vw;
    height: 100%;

    background-image: url('../img/logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    animation-name: logoAnimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes logoAnimation {
    0% {
        margin: 0 auto;
    }
    50% {
        margin: 15px auto 0 auto;
    }
    75% {
        margin: -15px auto 0 auto;
    }
    100% {
        margin: 0 auto ;
    }
}

/*      HEADER FINISHED     */

/*          SECTION         */

section {
    width: 100vw;
    height: 78vh;

    color: var(--text);
}

section .section-middle {
    width: 40%;
    height: 85%;
}

section .section-middle h1 {
    color: var(--primary);

    font-size: 5vw;
}

section .section-middle .line {
    width: 60%;
    height: 2px;

    background-color: var(--primary);

    margin: 0 auto 5px auto;
}

section .section-middle h4 {
    color: var(--text);

    font-size: 1.5vw;
}

section .section-bottom {
    width: 100%;
    height: 20vh;
}

section .section-bottom .mouse {
    width: 40px;
    height: 70px;

    border: 3px solid var(--text);
    border-radius: 50px;

    margin: 7vh 0 0 0;
}

section .section-bottom .mouse-button {
    background-color: var(--secondary);
    width: 12px;
    height: 12px;

    border-radius: 80px;

    margin: 0 auto;

    animation-name: mouseAnimation;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes mouseAnimation {
    0% {
        opacity: 1;
        margin: 10px auto;
    }
    100% {
        opacity: 0;
        margin: 30px auto;
    }
}

/*      SECTION FINISHED        */